.timeline {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.timeline-item {
    padding: 20px;
    margin-bottom: 20px;
}

.timeline-item:last-child {
    margin-bottom: 0px;
}
.timeline-item-left{
    /*float: left;*/
    /*clear: right;*/
}
.timeline-item-right{
    /*float: right;*/
    /*clear: left;*/
    left: 50%;
}
.timeline-item-tail{
    position: absolute;
    top: 35px;
    height: calc(100% - 45px);
    border-left: 4px solid #b79985;
}
.timeline-item:last-child .timeline-item-tail{
    display: none;
}
.timeline-item-left .timeline-item-tail{
    right: -2px;
    left: auto;
}
.timeline-item-right .timeline-item-tail{
    left: -2px;
    right: auto;
}
.timeline-item-content{
    transform: translateY(-22px);
}
.timeline-item-left .timeline-item-content{
    margin-right: 10px;
}
.timeline-item-right .timeline-item-content{
    margin-left: 10px;
}

.timeline-item-head{
    position: absolute;
    display: flex;
    align-items: center;
    width: 200px;
}
.timeline-item-head h6{
    margin: 10px;
}
.timeline-item-left .timeline-item-head{
    left: 100%;
    transform: translate(-8%, -70%);
}
.timeline-item-right .timeline-item-head{
    flex-direction: row-reverse;
    transform: translate(-102%, -70%);
}
@media only screen and (min-width: 768px) {

    .timeline-item {
        width: 50%;
        /*margin-bottom: 50px;*/
        /*position: relative;*/
        position: relative;
        margin: 0;
        padding-bottom: 20px;
        font-size: 14px;
        list-style: none;
    }

}
@media only screen and (max-width: 768px) {
    .timeline-item:last-child .timeline-item-tail{
        display: initial;
    }
    .timeline-item-tail {
        left: -2px !important;
        right: auto;
    }
    .timeline-item-content{
        margin-left: 10px !important;
        transform: translate(0px,10px) !important;
    }
    .timeline-item-head{
        flex-direction: row !important;
        left: 0 !important;
        transform: translate(-16px, -30px) !important;
    }
}